
maxClientCnxns={{ zookeeper.maxClientCnxns }}

# The number of milliseconds of each tick
tickTime={{ zookeeper.tickTime }}

# The number of ticks that the initial synchronization phase can take
initLimit={{ zookeeper.initLimit }}

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{ zookeeper.syncLimit }}

# the directory where the snapshot is stored.
dataDir=/var/lib/zookeeper
# the port at which the clients will connect
clientPort={{ zookeeper.clientPort }}

{% for server in groups.zookeeper_cluster %}
server.{{ hostvars[server].zookeeper_id }}= {{ hostvars[server].inventory_hostname}}:{{hostvars[server].ports}}
{% endfor %}
{% for server in groups.newvm %}
server.{{ hostvars[server].zookeeper_id }}= {{ hostvars[server].inventory_hostname}}:{{hostvars[server].ports}}
{% endfor %}
